body{
    margin: 0px;
}

.ImgArea img{
    height: 300px;
    width: 300px;
}

a:-webkit-any-link{
    text-decoration: none;
}

.Content{
    flex: auto;
    
}

.Content-list{
    margin: 2% 5% 0 5%;
    background: #DEDED3;
    border-radius: 10px 10px 10px 10px;
    padding: 0 2%;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%);
    padding-bottom: 0.5%;
}

.ImgArea{
    display: flex;
    justify-content: center;

}

.PostArea{
    display: flex;
    justify-content: center;
    
}

.ListArea{
    margin: 2% 5%;
    background: #17C40F;
    border-radius: 20px 20px 20px 20px;
    padding: 2% 2%;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%);
    padding-bottom: 1%;
}

.Content-Footer{
    margin-top: 3%;
}


Select{
    margin-right: 25px;
}
