.Header{
    background-color: #DEDED3;
    width: 100%;
    height: 50px;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%);
}
.Header img{
    background-size: contain;
    margin-top: 3px;
    height: 45px;
    width: 105px;
    margin-left: 5%;

}

.Header a{
    font-size: 0;
}