.labelSelect{
    position: relative;
    display: inline-block;
    margin: 6px;
    font-size: 16px;
    
}
.boxSelect{
    background-color: #ffffff;
    color: #1B2C1A;
    padding: 12px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 280px;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%);
    border-radius: 10px;
    font-weight: bold;
    margin-left: 25px;
    height: 40px;
}