.Footer{
    background-color: #DEDED3;
    width: 100%;
    height: 100px;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%);
    display: flex;
}
.Footer img{
    background-size: contain;
    margin-top: 10px;
    height: 45px;
    width: 105px;
    margin-left: 3%;
}
.Git{
    margin-left: -16vh;
    margin-top: 10vh;
    font-size: 24;
    font-family: "Roboto";
    color: #1B2C1A;
    text-decoration: none;
}
.Linkedin{
    font-size: 14;
    font-family: "Roboto";
    margin-left: 150vh;
    margin-top: 1.5vh;
    color: #1B2C1A;
    
}