form{
    display: flex;
}

.inputPrincipal {
    border: none;
    border-radius: 5px 0 0 5px;
    background-color: #fffFFF;
    padding: 0px 10px;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%);
    height: 40px;
    width: 300px;
    margin-left: 25px;
    
}

*:focus {
    outline: none;
}



.ButtonPesqui{
    border: none;
    height: 40px;
    width: 40px;
    background-color: #12870D;
    color: #ffffff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%); 
}



.areaInput{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 5%;
    
    
}