body{
    margin: 0px;
}

.AreaImg img{
    max-width:300px;
    max-height:300px;
    width: auto;
    height: auto;
}



.Conteinar{
    flex: auto;
    
}

.Conteinar-list{
    margin: 2% 8% 2% 8%;
    background: #DEDED3;
    border-radius: 10px;
    padding: 0 2%;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%);
    min-height: 1000px;
    padding-bottom: 10%;
}

.AreaImg{
    display: flex;
    justify-content: center;
    padding: 5% 0;

}

.AreaPost{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.AreaList{
    border-radius: 20px 20px 0 0;
    padding: 0 2% 0 2%;
    width: 50%;
    margin-right: 1%;
    
}

.List{

    padding: 2% 2% 0 2%;

}

.AreaRefeicao{
    display: flex;
    flex-direction: column;
    background: #17C40F;
    border-radius: 15px 15px 0 0;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%);
    width: 50%;
    margin-left: 1%;
    min-height: 300px;
    
}

.TextCabe{
    color: #ffff;
    font-size: 15px;
}

.Area{
    display: flex;
    justify-content: center;
    padding-top: 5%;

}

.Cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2%;
    border-bottom: 0.1px solid #ffff;
    padding-bottom: 3%;
    padding: 4% 5% 3% 5%;
}

.AreaFooter{
    border-radius: 0 0 15px 15px;
    background-color: #1B2C1A;
    display: flex;
    justify-content: space-between;
    align-items: center;
    float: right;
    width: 43%;
    padding: 2% 2%;
}


.Content-Footer{
    margin-top: 3%;
}




#nopad { padding:0; }  
    
   