.btn {
    background: #fff;
    padding: 0px 10px 0px 20px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 15px;
    width: 100%;
    
    opacity: 1;
    transition: opacity 300ms ease;
    text-align: start;
    border-radius: 10px;
    height: 79px;

    display:flex;

    margin-bottom: 2%;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%);

  }
  
  .touched {
    opacity: 0.5;
  }

  .btn:hover{
    transform: scale(1.02);
    transition: 0.8s none cubic-bezier(0.755, 0.05, 0.855, 0.06);
  }
  



h3{
  font-size: 20px;
  color: #1B2C1A;
  margin: 0%;
  font-family: "Roboto";

}
p{
  font-size: 12px;
  color: #314D2F;
  margin: 0%;
  font-family: "Roboto"; 
  font-weight: 100;
  
 
}

.TextDisc{
  font-family: "Roboto Medium";
}


.AreaText{
  width: 50%;
  padding-top: 15px;
  padding-left: 2px;
}

.AreaMacros{
  width: 50%;
  display:flex;
  justify-content: flex-end;
}

.Bloco{
  height: 64px;/*Altura da linha*/
  padding-left: 5%;
  padding-top: 15px;
  margin-right: 5%;
  border-left: 0.1px solid #1B2C1A;/* Adiciona borda esquerda na div como ser fosse uma linha.*/
  text-align: center;
  
}

.TitleBloco{
  font-size: 12px;
  padding-bottom: 15px;
}

.DiscCarb{
  color: #ED3F3F;
  
}


.DiscProt{
  color: #5C6AE0;
  
}


.DiscGord{
  color: #FC9A00;
  
}

.BlocoCarb{
  height: 64px;/*Altura da linha*/
  padding-left: 7%;
  padding-top: 15px;
  margin-right: 7%;
  border-left: 0.1px solid #1B2C1A;/* Adiciona borda esquerda na div como ser fosse uma linha.*/
  text-align: center;
}



